/* Enex style overrides for Material Design Boostrap */

body {
  background-color: #f2f6f8;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cantarell', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
}

h5 {
  line-height: 1.7rem;
}

.navbar-nav .nav-link {
   font-family: 'Cantarell', sans-serif;
   font-weight: 600;
}

.enex-color {
  color: #f9bb04;
}

.dark-grey-color {
  color: #3e4555;
}

.grey-color {
  color: #777777;
}

.enex-color-dark {
  color: #df7f19;
}

.enex-color-blue {
  color: #0296dc;
}


.enex-bg-color {
  background-color: #f9bb04;
}

.enex-bg-color-dark {
  background-color: #df7f19;
}

.enex-bg-gradient {
  background: #FF8008;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.enex-gradient {
  color: #f9bb04; /* Old browsers */
  color: -moz-linear-gradient(left, #f9bb04 0%, #df7f19 100%); /* FF3.6-15 */
  color: -webkit-linear-gradient(left, #f9bb04 0%,#df7f19 100%); /* Chrome10-25,Safari5.1-6 */
  color: linear-gradient(to right, #f9bb04 0%,#df7f19 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-wrapper {
  margin-top:80px;
  margin-bottom: 50px;
}

.navbar-enex {
  background: #FF8008;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC837 60%, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837 60%, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar .navbar-brand strong {
  margin-left: 15px;
  font-size: 24px;
  padding-top: 20px;
}

.badge, .btn, .btn-primary.active:not([disabled]):not(.disabled), .btn-primary:not([disabled]):not(.disabled):active, .card:not([class*=card-outline-]), .chip, .jumbotron, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .active .page-link, .show>.btn-primary.dropdown-toggle, .z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.02), 0 2px 10px 0 rgba(0,0,0,.02);
}

.card {
  border-radius: 10px;
}

.card img {
    border-radius: 10px 10px 0 0;
}

img {
  border-radius: 10px;
}

.badge {
    border-radius: 10px;
    color: #fff !important;
}

.card .card-text {
    font-size: .9rem;
    color: #8a8a8a;
}

.card-body h4 {
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.card-white .card-text {
    font-size: .9rem;
    color: #fff;
}

.btn {
  border-radius: 40px;
}